<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>angular select2</title>
		
		<link rel="stylesheet" type="text/css" href="bower_components/select2/dist/css/select2.css"/>
	</head>
	<body>
		<h1>angular select2</h1>
		<hr />
		<p>1 + 2 = {{1 + 2}}</p>
		<p>hello {{name}}</p>
		<hr />
		<select id="select2">
		</select>
		<hr />
		
		<label>data</label>
		<select angular-select2="data" ng-model="obj1.value"></select>
		<p>the selected value is {{obj1.value}}</p>
		<label>data, allow clear</label>
		<select angular-select2="data" ng-model="obj3.value" data-placeholder="请选择" data-allow-clear="true"></select>
		<p>the selected value is {{obj3.value}}</p>
		<label>options</label>
		<select angular-select2="{data: data}" ng-model="obj2.value"></select>
		<p>the selected value is {{obj2.value}}</p>
		<label>url</label>
		<select angular-select2 data-url="data.json" ng-model="obj4.value"></select>
		<p>the selected value is {{obj4.value}}</p>
		<label>url, allow clear</label>
		<select angular-select2 data-url="data.json" ng-model="obj5.value" data-placeholder="请选择" data-allow-clear="true"></select>
		<p>the selected value is {{obj5.value}}</p>
		<hr />
		<div><button ng-click="reset()">重置</button><button ng-click="set()">设置值</button></div>
	</body>
	
	<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="bower_components/select2/dist/js/select2.full.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/angular-select2.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var data = [];
		for(var i = 1; i <= 10; i++){
			data.push({id: i, text: 'item ' + i})
		}
		$('#select2').select2({
			data: data
		});
		var app = angular.module('myApp', ['ui']);
		app.run(function($rootScope){
			$rootScope.name = 'Jaosn';
			$rootScope.data = data;
//			$rootScope.obj = {value: ''};

			$rootScope.reset = function(){
				$rootScope.obj1 = null;
				$rootScope.obj2 = null;
				$rootScope.obj3 = null;
				$rootScope.obj4 = null;
				$rootScope.obj5 = null;
			}
			
//			$rootScope.obj1 = {value: 2};
			$rootScope.obj2 = {value: 2};
			$rootScope.obj3 = {value: 2};
			$rootScope.obj4 = {value: 2};
			$rootScope.set = function(){
				$rootScope.obj1 = {value: 3};
				$rootScope.obj2 = {value: 3};
				$rootScope.obj3 = {value: 3};
				$rootScope.obj4 = {value: 3};
				$rootScope.obj5 = {value: 3};
			}
		});
	</script>
</html>
